animals-container {
  padding: 24px;
}

.mat-table {
  width: 100%;
  margin-top: 16px;
}

button[mat-raised-button] {
  margin-bottom: 16px;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell {
  text-align: center;
  vertical-align: middle;
}

tr.mat-mdc-row:nth-child(even) {
  background-color: #dfece6;
}