.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dfece6;
  color: #215a6d;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3ca2a2;
}
p {
  font-size: 1.1rem;
  color: #2d2d29;
}